@import url(/navigation/default.css);

.navigation-left {
    margin-left: 90px;
    margin-right: auto;
}

.navigation-left > .navigation-item:last-child>span {
    margin-right: 11px;
}

.navigation-right {
    color: gray;
}