@import url(/navigation/default.css);

:root {
    --border-color: #EBEAED;
}

.navigation-left {
    margin-left: 110px;
    margin-right: auto;
}

.navigation-left .navigation-item:first-child::after {
    content: "";
    margin-left: 5px;
}

.navigation-right>.navigation-item:first-child {
    text-transform: uppercase;
}

.navigation-right>.navigation-item:last-child {
    font-weight: 500;
    text-transform: capitalize;
    padding: 9px 22px;
    border: 2px solid var(--border-color);
    border-radius: 50px;
}



.navigation-right>.navigation-item:last-child:hover,
.navigation-right>.navigation-item:last-child:focus {
    background-color: #EBEAED;
    transition: 0.5s ease-in-out;
}