@import url(/navigation/default.css);

.navigation-item {
    text-transform: capitalize;
}

.navigation:last-child>.navigation-item {
    font-weight: 500;
}

.navigation:last-child>.navigation-item:last-child {
    border: 2px solid #EBEAED;
    padding: 9px 21px;
    border-radius: 50px;
}