@import url(/navigation/default.css);

:root {
    --white: #fff;
    --bg-color: #482be7;
}

.navigation-right>.navigation-item {
    font-weight: 500;
    text-transform: capitalize;
}

.navigation-right>.navigation-item:last-child {
    color: var(--white);
    background-color: var(--bg-color);
    padding: 9px 22px;
    border-radius: 20px;
}

.navigation-right>.navigation-item:last-child:hover,
.navigation-right>.navigation-item:last-child:focus-visible {
    background-color: #1e0e62;
    transition: .5s ease-in-out;
}


@media screen and (max-width: 768px) {
    .navigation-right>.navigation-item:last-child {
        padding: 9px 20px;
    }
}